.form {
    padding: 1rem;
    max-width: 40rem;
    margin: 2rem auto;
    border-radius: 10px;
    background: linear-gradient(180deg, rgb(252, 255, 175), rgb(255, 234, 141));
}

.form-inputs {
    padding: 1rem 1rem 2rem 1rem;
    font-size: 20px;
}

.form-inputs label {
    font-weight: bold;
    color: rgb(71, 58, 0);
}

.form-inputs input {
    width: 70%;
    height: 22px;
    float: right;
    margin-right: 2rem;
    font-size: 20px;
}

.form-inputs-pair {
    margin-bottom: 0.5rem;
}

.form-actions {
  margin: auto 5rem;
}

.form-actions button {
    height: 35px;
    width: 40%;
    margin: 0 5%;
    font-size: 21px;
}

.button-submit {
    border-radius: 10px;
    background-color: rgb(201, 172, 26);
    border-color: rgb(135, 116, 22);
    
}

.button-reset {

}